<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/util
	   		http://www.springframework.org/schema/util/spring-util.xsd
	   		http://www.springframework.org/schema/aop
	   		http://www.springframework.org/schema/aop/spring-aop.xsd">
		
	<aop:aspectj-autoproxy/>
	<bean class="com.example.AopAspect"/>
	
	<bean id="messageService" class="com.example.MessageServiceImpl" autowire="byName" />
	<bean id="messageDao" class="com.example.MessageDaoImpl" init-method="upCase">
		<property name="message" value="The quick brown fox"/>
	</bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/test" />
		<property name="username" value="root" />
		<property name="password" value="" />
</bean>

<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
	<property name="dataSource" ref="dataSource" />
</bean>

<bean id="myDao" class="com.example.MyJdbcDao">
	<property name="jdbcTemplate" ref="jdbcTemplate" />
</bean>
	
		
	   		
</beans>